# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django migrations
**/migrations/
!**/migrations/__init__.py

# SQLite database
db.sqlite3

# Secrets and environment
.env
.env.*

# Virtualenv
venv/
ENV/
.venv/
env/

# Logs
*.log
*.pid
*.gz
*.coverage

# Static and media
staticfiles/
media/
media_root/

# Redis (if using dump.rdb for local persistence)
dump.rdb

# VSCode
.vscode/

# PyCharm
.idea/

# System
.DS_Store
Thumbs.db
